.home {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-content: center;

}

.nav-btn-container {
  padding: 1rem;
  display: flex;
  gap: 20px;
}
